{% extends 'patients/base.html' %}

{% block title %}Patient Messages{% endblock %}

{% block content %}

<html>

<body>
    <h1>Patient Messages</h1>

    {% if messages %}
        <ul>
            {% for message in messages %}
        <li>
            <strong>From:</strong> {{ message.sender.user.username }} <br>
            <strong>Sent:</strong> {{ message.sent_at }} <br>
            <p>{{ message.message_content }}</p>
            {% if message.patient_reply %}
                <strong>Your Reply:</strong> {{ message.patient_reply }}
            {% else %}
                <a href="{% url 'view_message' message.id %}">Reply</a>
            {% endif %}
        </li>
    {% endfor %}
        </ul>
    {% else %}
        <p>You have no messages yet.</p>
    {% endif %}
</body>
</html>
{% endblock %}
