{% extends 'staff/base.html' %}

{% block title %} Admin Dashboard {% endblock %}

{% block content %}
    <h1>Welcome, Admin {{ user.first_name }}</h1>
    <p>Here are your tasks for today:</p>

    <!-- Display admin-specific tasks, like order management, audit logs, etc. -->
    <ul>
        <li><a href="{% url 'order_management' %}">Order Management</a></li>
        <li><a href="{% url 'stock_alerts' %}">Stock Alerts</a></li>
        <li><a href="{% url 'medical_supply_inventory' %}">Medical Supply Inventory</a></li>
        <li><a href="{% url 'dashboard_view' %}">Hospital Dashboard</a></li>
        <li><a href="{% url 'resource_allocation_view' %}">Resource Allocation</a></li>
        <li><a href="{% url 'report_list' %}">Report List</a></li>
        <li><a href="{% url 'audit_log_list' %}">Audit Logs</a></li>
        <li><a href="{% url 'staff_list' %}">Staff List</a></li>
        <li><a href="{% url 'staff_certifications' staff_id=1 %}">Staff Certifications</a></li>
        <li><a href="{% url 'notifications' %}">Notifications</a></li>
    </ul>
{% endblock %}
