{% load custom_filters %}

<h1>Manage Your Schedule</h1>
<form method="post">
    {% csrf_token %}
    {% for day in days %}
        <div>
            <label for="{{ day|lower }}_start">{{ day }} Start:</label>
            <input type="time" id="{{ day|lower }}_start" name="{{ day|lower }}_start" value="{{ schedule_data|get_item:day }}.start">

            <label for="{{ day|lower }}_end">{{ day }} End:</label>
            <input type="time" id="{{ day|lower }}_end" name="{{ day|lower }}_end" value="{{ schedule_data|get_item:day }}.end">
        </div>
    {% endfor %}
    <button type="submit">Save Schedule</button>
</form>
