{% extends 'staff/base.html' %}

{% block title %}Search Patient{% endblock %}

{% block content %}
<h2>Search Patient</h2>
<form method="get">
    <input type="text" name="q" value="{{ query }}" placeholder="Search by username or email">
    <button type="submit">Search</button>
</form>

{% if patients %}
    <h3>Search Results</h3>
    <ul>
        {% for patient in patients %}
            <li>
                <a href="{% url 'staff:display_patient' patient.id %}">{{ patient.user.username }} ({{ patient.user.email }})</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No patients found</p>
{% endif %}
{% endblock %}
