{% extends "staff/base.html" %}

{% block content %}
<h1>Inbox</h1>

{% if messages %}
    <ul>
    {% for message in messages %}
        <li class="{% if message.is_read %}read{% else %}unread{% endif %}">
            <a href="{% url 'staff:message_detail' message.id %}">
                <strong>From:</strong> {{ message.sender.user.username }}
                <strong>Message:</strong> {{ message.message_content|truncatewords:10 }}
                <strong>Sent at:</strong> {{ message.sent_at|date:"d M Y H:i" }}
            </a>
        </li>
    {% endfor %}
</ul>

{% else %}
    <p>No messages found.</p>
{% endif %}
{% endblock %}
