<h1>Stock Alerts</h1>

<table>
    <thead>
        <tr>
            <th>Supply</th>
            <th>Alert Message</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Resolved At</th>
        </tr>
    </thead>
    <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.supply.name }}</td>
                <td>{{ alert.alert_message }}</td>
                <td>{{ alert.alert_status }}</td>
                <td>{{ alert.created_at }}</td>
                <td>{{ alert.resolved_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
